<div class="image">
    <header>
    <div class="container">
         <!-- Below is code for animated slideshow for the background images on the first page -->
            <!-- <div class="slideshow-container">
    
                    <div class="mySlides fade">
                      <img src="images/desert.jpg" style="width:100%">
                      <div class="text">Caption Text</div>
                    </div>
                    
                    <div class="mySlides fade">
                      <img src="img_snow_wide.jpg" style="width:100%">
                      <div class="text">Caption Two</div>
                    </div>
                    
                    <div class="mySlides fade">
                      <img src="img_mountains_wide.jpg" style="width:100%">
                      <div class="text">Caption Three</div>
                    </div>
                    
                    </div> -->
           <a href="index.html"><img src="../assets/logo.png" width="200px" alt="placeholder-logo" class="logo"></a>
            <input type="checkbox"  id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a [routerLink]="['/all-products']">Shoes</a></li>
                <li><a href="#">Fixed Designs</a></li>
                <li><a href="#">Send in Design</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="i-tags">
            <a href="#" class="heart"><i class="fas fa-heart"></i></a>
            <a href="#" class="bag"><i class="fas fa-shopping-bag"></i></a>
        </div>  
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </div>
    </header>
    </div>
    
    <section class="section-2">
            <div class="new-products">
                <div class="first-div">
                    <div class="pic1"></div>
                    <div class="pic2"></div>
                </div>
    
                <div class="second-div">
                    <h1>JUST DROPPED</h1>
                    <p>Our SS19 drop references the past along with modern asian influences while maintaining a unique look, making it stand out from competitive streetwear brands.</p>
                </div>
            </div>
    
        </section>
    
    <div class="section-3">
        <div class="marquee">
            <p> <i class="far fa-hand-point-right"></i> FREE SHIPPING AND RETURNS <i class="far fa-hand-point-right"></i> FREE SHIPPING AND RETURNS <i class="far fa-hand-point-right"></i> FREE SHIPPING AND RETURNS <i class="far fa-hand-point-right"></i> FREE SHIPPING AND RETURNS</p>
        </div>
    
    </div>


